<div class="container">
    <div class="row d-flex flex-row justify-content-center">
        <h1>Login</h1>
    </div>
    <div class="row d-flex flex-row justify-content-center">
        <form action="/auth/login" method="post" "d-flex flex-column align-items-center">
            <div class="form-check form-check-inline">
                <label class="form-check-label">Buyer
                <input class="form-check-input" type="radio" name="role" value="Buyer" {{#if buyer}} {{buyer}} {{/if}}>
                </label>
                </div>
                <div class="form-check form-check-inline">
                <label class="form-check-label">Seller
                    <input class="form-check-input" type="radio" name="role" value="Seller" {{#if seller}} {{seller}} {{/if}}>
                </label>
            </div>
            <div class="mb-3">
                <label class="form-label">Email
                    <input type="text" class="form-control" type="email" name="email">
                </label>
                </div>
                <div class="mb-3">
                <label class="form-label">Password
                    <input class="form-control" type="password" name="password">
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Log me in!</button>
        </form>
    </div>
    <div class="row">
        <p>Don't have an account yet? Register <a href="/auth/signup">here</a></p>
    </div>
</div>

{{#if errorMessage}} 
<div class="alert alert-danger" role="alert">
    {{errorMessage}}
</div>
{{/if}}

