{{> accountDetails user}}

{{#if claims}}

    <a href="/claims/create"><button class="btn btn-primary ms-5">List a new Claim</button></a>

    <h2 class="m-5">My Listed Claims</h2>
    <div class="m-5">
        {{#each claims}}
            {{> claimSummary this}}
        {{/each}}
    </div>
    <div class="text-center"> <a href="/user/my-claims">See more</a> </div>
{{else}}
    <p>No claims listed yet.</p>
    <a href="/claims/create"><button class="btn btn-primary">List claim now</button></a>
{{/if}}