<div class="m-5">

    <div class="ms-5">
        {{> accountDetails user}}

        <h4 class="mb-5 ms-5"> Your Signup was successful!</h4>

        {{#if user.isSeller}}

        <a href="/claims/create"><button class="btn btn-primary btn-lg mb-5 ms-5">List my first Claim</button></a>

        {{else}}

        <a href="/claims"><button class="btn btn-primary btn-lg mb-5 ms-5">Browse all Claims</button></a>

        {{/if}}

        <br>
        <a href="/auth/logout"><button class="btn btn-primary mt-5 ms-5">Logout</button></a>
    </div>

</div>
