 /* LANDING PAGE */

 * {
   /* outline: 1px red solid; */
 }

 #landing-page-main-container {
   height: 100vh;
 }

 #lp-main-title {
   text-align: center;
 }

 #lp-sub-title {
   text-align: center;
   width: 40%;
   margin: 30px;
 }

body {
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
