html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #14191d;
}

a {
  color: #8eaed1;
}

a:hover {
  color: #3e544c;
}

#landing-page {
  background-image: url("../images/background.jpg");
  background-position: top;
  background-size: cover;
}

.bg-lavender {
  background-color: #dce7f9;
}
.text-lavender {
  color: #dce7f9;
}

.bg-lavender-transparent {
  background-color: rgba(220, 231, 249, 0.6);
}

.bg-polo {
  background-color: #8eaed1;
}

.bg-plantation {
  background-color: #3e544c;
}

.btn-primary {
  background-color: #3e544c ;
  border-color: #3e544c;
}

.btn-primary:hover {
  background-color: #8eaed1;
  border-color: #8eaed1;
  color: #14191d;
}

.text-muted {
  color: #8eaed1;
}

.alert-danger {
  background-color: #EF9D6A;
  color: white;
  border: 1px solid #EF9D6A;
}

.nav-link {
  color: #14191d;
}

.nav-link:hover {
  color: #3e544c;
}

.navbar-brand:hover {
  color: #3e544c;
}

.really-big-font {
  font-size: 140px;
}


