<div class="container-fluid">
    <div class="row">
        {{!-- <div class="col-1"></div> --}}
        <div class="col-3">
            <div class="m-5 px-5 py-1 w-100 border">
                {{!-- <label for="sort" class="form-label">Sort by:</label> --}}
                <form action="" method="">
                    <h6 class="mt-4 mb-3">Sort by:</h6>
                        <select id="sortBy" class="form-select form-select-sm w-100 mt-1" name="sortBy">
                            <option value="">None</option>
                            <option value="faceValue">Face Value</option>
                            <option value="minimumPrice">Minimum Price</option>
                            <option value="maturity">Maturity</option>
                            <option value="claimType">Claim Type</option>
                            <option value="performance">Performance</option>
                        </select>
                    <div class="input-group input-group-sm my-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortOrder" id="ascending" value="1">
                            <label class="form-check-label" for="ascending">Ascending</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sortOrder" id="descending" value="-1">
                            <label class="form-check-label" for="descending">Descending</label>
                        </div>
                    </div>
                    <h6 class="mt-4 mb-3">Filter by:</h6>
                    {{!-- <div class="mb-3">
                        <label for="seller" class="form-label">Seller</label>
                        <input id="seller" type="text" class="form-control" name="seller">
                    </div> --}}
                    <div class="row">
                        <div class="col">

                            <div class="mb-3">
                                <label for="faceValueStart" class="form-label form-label-sm">Face Value:</label>
                                <input id="faceValueStart" name="faceValueStart" type="number" class="form-control form-control-sm" >
                            </div>


                        </div>
                        <div class="col">
                                <div class="mb-3">
                                    <label for="faceValueEnd" class="form-label">And:</label>
                                    <input id="faceValueEnd" name="faceValueEnd" type="number" class="form-control form-control-sm" >
                                </div>
                        </div>
                    </div>



                    <div class="mb-3">
                        <label for="debtor" class="form-label">Debtor</label>
                        <input id="debtor" type="text" class="form-control form-control-sm" name="debtor">
                    </div>
                     <div class="mb-3">
                        <label for="debtorLocation" class="form-label form-label-sm">Debtor Location</label>
                        <input id="debtorLocation" type="text" class="form-control form-control-sm" name="debtorLocation">
                    </div>
                     <div class="mb-3">
                        <label for="claimType" class="form-label">Claim Type</label>
                         <select id="claimType" class="form-select form-select-sm w-100 mt-1" name="claimType">
                            <option value="">None</option>
                            <option value="Corporate Loan">Corporate Loan</option>
                            <option value="Consumer Debt">Consumer Debt</option>
                            <option value="Retail Mortgage">Retail Mortgage</option>
                            <option value="Commercial Real Estate Loan">Commercial Real Estate Loan</option>
                            <option value="Trade Claim">Trade Claim</option>
                        </select>
                    </div>
                    <div class="mb-3"></div>
                        <label for="performance" class="form-label">Performance</label>
                        <select id="performance" class="form-select form-select-sm w-100 mt-1" name="performance">
                            <option value="">None</option>
                            <option value="Performing">Performing</option>
                            <option value="Defaulted">Defaulted</option>
                            <option value="Stressed">Stressed</option>
                        </select> 
                    </d>
                    <button id="search-btn" type="submit" class="btn btn-primary btn-sm my-3">Search</button>
                </form>
            </div>
        </div>
        <div class="col-8">
            <h5 class="m-2 mt-5 mb-4 text-center">Search results {{results.length}}</h5>
            <div class="m-5 border">
                <div class="m-2">
                {{#if results}}
                    {{#each results}}

                        {{> claimSummary this}}

                    {{/each}}
                {{else}}
                    <p class="ms-5 text-muted text-center">No results found</p>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>


<script>

const button = document.getElementById("search-btn");

button.addEventListener("click", (e)=>{
    const sortByInput = document.getElementById("sortBy").value;
    const sortAscending = document.getElementById("ascending").value;
    const sortDescending = document.getElementById("descending").value;
    const faceValueStartInput = document.getElementById("faceValueStart").value;
    const faceValueEndInput = document.getElementById("faceValueEnd").value;
    const debtorInput = document.getElementById("debtor").value;
    const debtorLocationInput = document.getElementById("debtorLocation").value;
    const claimTypeInput = document.getElementById("claimType").value
    const performanceInput = document.getElementById("performance").value;
    
    let sortOrder = sortAscending || sortDescending;
    let sortQuery;
    if (sortByInput && sortOrder) {
        sortQuery[`${sortByInput}`] = sortOrder;
    } else {
        sortQuery = {};
    }

    let queryArray = [];
    
    let faceValueRange = {};
    let faceValueQuery = {faceValue: faceValueRange}

    if (faceValueStartInput) {
        faceValueRange["$gte"] = faceValueStartInput;
    }
    if (faceValueEndInput) {
        faceValueRange["lte"] = faceValueEndInput;
    }
    if (faceValueStartInput || faceValueEndInput) {
            queryArray.push(faceValueQuery);
    }
    if (debtorInput) {
        let debtorQuery = {debtor: debtorInput};
        queryArray.push(debtorQuery);
    }
    if (debtorLocationInput) {
        let debtorLocationQuery = {debtorLocation: debtorLocationInput};
        queryArray.push(debtorLocationQuery);
    }
    if (claimTypeInput) {
        let claimTypeQuery = {claimType: claimTypeInput};
        queryArray.push(claimTypeQuery);
    }
    if (performanceInput) {
        let performanceQuery = {performance: performanceInput};
        queryArray.push(performanceQuery);
    }
    if (queryArray.length === 0) {
        filterQuery = {};
    } else if (queryArray.length === 1) {
        filterQuery = queryArray[0];
    } else {
        filterQuery = {$and: queryArray}
    }
    let body = {sortQuery, filterQuery};
    search(e, body);
});

async function search(e, body){
    e.preventDefault();
    console.log("BODY: ", body, JSON.stringify(body));
    const response = await fetch("/claims/search", {
        method: "POST",
        headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(body)
    });
    console.log("FROM FETCH: ", response);
    return response;
}

</script>

