<div class="container">
    <div class="row">
        <h1>[Name Seller - to be included with hbs]</h1>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                Contact person: [first name] [ second name]
                email address:  [email]
            </div>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary" href="[/:claimId/claims]" role="button">Back to claim details</a></div>
    </div>
    <div class="row">
        {{!-- {{#each []}} --}}
            
        {{!-- {{/each}} --}}
    </div>


</div>