<h1>Claim Details</h1>

<table>
    <tbody>
        {{#each claim}}
        <tr>
            <td>{{@key}}</td>
            <td>{{this}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<a href="/claims/{{id}}/edit"><button>Edit</button></a>
<a href="/claims/{{id}}/delete"><button>Delete</button></a>