<h1 class="m-5">List new claim</h1>

<div class="d-flex flex-column align-items-center"></div>
    <form class="w-100 ms-5" action="/claims/create" method="post">

        <label class="form-label w-50 mb-3">Debtor
            <input class="form-control w-100" type="text" name="debtor" required>
        </label>
        
        <label class="form-label w-50 mb-3">Debtor country
            <input class="form-control w-100" type="text" name="debtorLocation" required>
        </label>

        <div class="w-50 d-flex">
            <label class="form-label w-25 mb-3">Currency
                <select class="form-select w-100 mt-1" name="currency">
                    <option value="EUR">EUR</option>
                    <option value="USD">USD</option>
                    <option value="GBP">GBP</option>
                </select>
            </label>
            <label class="form-label w-75 mb-3">Face Value
                <input class="form-control w-100 mt-1" type="number" min="0" name="faceValue" required>
            </label>
        </div>

        <div class="w-50 d-flex">
            <label class="form-label w-50 mb-3">Claim Type
                <select class="form-select w-100 mt-1" name="claimType">
                    <option value="Corporate">Corporate</option>
                    <option value="Consumer">Consumer</option>
                    <option value="Retail Mortgage">Retail Mortgage</option>
                    <option value="Commercial Real Estate">Commercial Real Estate</option>
                    <option value="Trade">Trade</option>
                </select>
            </label>
            <label class="form-label w-50 mb-3 mt-1">Minimum Price (% of Face Value)
                <input class="form-control w-100" type="number" min="0" max="100" name="minimumPrice" required>
            </label>
        </div>

        <div class="w-50 d-flex">
            <label class="form-label w-75 mb-3"> Performance
                <select class="form-select w-100 mt-1" name="performance">
                    <option value="Performing">Performing</option>
                    <option value="Defaulted">Defaulted</option>
                    <option value="Stressed">Stressed</option>
                </select>
            </label>
            <label class="form-label w-25 mb-3 mt-1">Due Date
                <input class="form-control w-100" type="date" name="maturity">
            </label>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Publish claim</button>
    </form>
</div>
