<div class="container-fluid">
    <div class="row">
        {{!-- <div class="col-1"></div> --}}
        <div class="col-3">
            <div id="form-container" class="m-5 px-5 py-4 w-100 border">
                <h4 class="mb-3">Search</h4>
                <form action="/claims/search" method="post">
                    <div class="mb-3">
                        <label for="seller" class="form-label">Seller</label>
                        <input id="seller" type="text" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="debtor" class="form-label">Debtor</label>
                        <input id="debtor" type="text" class="form-control" name="debtor">
                    </div>
                     <div class="mb-3">
                        <label for="claimType" class="form-label">Claim Type</label>
                         <select id="claimType" class="form-select w-100 mt-1" name="claimType">
                            <option value="">None</option>
                            <option value="Corporate">Corporate</option>
                            <option value="Consumer">Consumer</option>
                            <option value="Retail Mortgage">Retail Mortgage</option>
                            <option value="Commercial Real Estate">Commercial Real Estate</option>
                            <option value="Trade">Trade</option>
                        </select>
                    </div>
                    <div class="mb-3"></div>
                        <label for="performance" class="form-label">Performance</label>
                        <select id="performance" class="form-select w-100 mt-1" name="performance">
                            <option value="">None</option>
                            <option value="Performing">Performing</option>
                            <option value="Defaulted">Defaulted</option>
                            <option value="Stressed">Stressed</option>
                        </select> 
                    </d>
                     {{!-- <div class="mb-3">
                        <label for="debtor" class="form-label">Debtor</label>
                        <input type="text" class="form-control" name="debtor">
                    </div> --}}
                    <button id="search-btn" type="submit" class="btn btn-primary btn-sm mt-3">Search</button>
                </form>
            </div>
        </div>
        <div class="col-8">
            <h5 class="m-2 mt-5 mb-4 text-center">Search results {{results.length}}</h5>
            <div class="m-5 border">
                <div class="m-2">
                {{#if results}}
                    {{#each results}}

                        {{> claimSummary this}}

                    {{/each}}
                {{else}}
                    <p class="ms-5 text-muted text-center">No results found</p>
                    {{!-- <a href="/claims/create"><button class="btn btn-primary ms-5">List your first claim now</button></a> --}}
                {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>

const button = document.getElementById("search-btn");

button.addEventListener("click", ()=>{
    const data = {
        seller : document.getElementById("seller").value,
        debtor : document.getElementById("debtor").value,
        performance : document.getElementById("performance").value,
        claimType : document.getElementById("claimType").value
    }
    search(data);
});

async function search(e, data){
    e.preventDefault();
    const response = await fetch("/claims/search", {
        method: "POST",
        body: data
    });
    console.log("FROM FETCH: ", response);
    return response;
}

</script>


